nav {
    max-width: 100vw;
    color: white;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    height: fit-content;
    position: -webkit-sticky;
	position: sticky;
	top: 0;
    font-size: 12px;
    font-weight: 300;
    min-height: fit-content;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    z-index: 2;
}

@media screen and (min-width: 481px){
    
    nav {
       font-size: 25px; 
    }
}

@media screen and (min-width: 768px){
    
    nav {
       font-size: 35px; 
    }

}

@media screen and (min-width: 991px){
    
    nav {
       font-size: 50px; 
    }

}



